<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="menu.css">
    <title>Menu</title>
</head>

<body>
    <input type="checkbox" id="toggleMenu">
    <label for="toggleMenu" class="menu-icon">
        &#9776
    </label>
    <header>
        <div id="brand">Menu</div>
    </header>

    <nav class = "menu">
        <ul>
            <li>
                <a href="#">Profil</a>
            </li>
            <li>
                <a href="#">Setari</a>
            </li>
            <li>
                <a href="#">Orar</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>
    </nav>

    <div class = "content">

    </div>
</body>

</html>